.carousel-item {
  height: calc(100vh - 50px);
  /* Ajusta 50px según el espacio que necesiten los puntos de paginación */
  overflow: hidden;
}

.carousel-item img {
  width: 100vw;
  height: calc(100vh - 50px);
  /* Ajusta 50px según el espacio que necesiten los puntos de paginación */
  object-fit: cover;
}

.container-vet {
  background-color: #f0f8ff;
  /* Color de fondo */
  padding: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bg-orange {
  background-color: #fbcf7a;
  /* Fondo del círculo para perros */
}

.bg-purple {
  background-color: #d7aefb;
  /* Fondo del círculo para gatos */
}

.card {
  border: none;
  background-color: transparent;
}

.text-orange {
  color: #f08500;
  /* Color del texto para perros */
  font-weight: bold;
}

.text-purple {
  color: #9269ff;
  /* Color del texto para gatos */
  font-weight: bold;
}

.vet {
  color: white;
  /* Color del texto dentro del círculo */
  font-size: 20px;
}



.products {
  color: #ff8c00;
  /* Color del título */
  background-color: #f0f8ff;
  padding: 10px;
  border-radius: 10px;
}

.containerM {
  padding-bottom: 4%;
  padding-top: 0%;
}

@media(min-width:768px) {
  .containerM {
    padding-bottom: 50%;
    padding-top: 50%;
  }
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card img {
  width: 100%;
  height: 60%;
}

.card-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.badge {
  margin-right: 5px;
}

body {
  overflow-x: hidden;
  background: #fefefe;
}